<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ asset('css/CSS/depenses.css') }}">
    <link rel="stylesheet" href="{{ asset('css/CSS/fontawesome/css/all.min.css') }}">
    <title>{{ projet.nom }} - Depenses</title>
</head>
<body>
    <div id="header">
        <div id="click-menu">
            <i class="fa fa-bars close"></i>
        </div>

        <div id="logo">
            Archi - Tech
        </div>

        <a href="/profil" style="text-decoration:none;color:white;">
            <div id="infos-profil-icons">
                <i class="fa fa-user-circle fa-2x" id="icons"></i>
                <span id="nom">({{user.prenom}} {{user.nom}})</span>
            </div>
        </a>
    </div> 
    
    <div id="section">
        <div id="side-menu-depenses">
            {% include "sidemenu.html.twig" %}
        </div>

        <div id="content">
            <div id="titre">
                Dépenses du projet
            </div>

            <hr id="hr-content-titre">

            <div id="bande"></div> 

            <div id="depenses">
                {% if projet.estTermine == false %}
                    {% if  user.poste == 'Architecte' %}
                        <div id="option-depenses-ajouter">
                            <a href="/projets/{{ projet.id }}/details/depenses/ajouter"><button><i class="fa fa-plus"></i> Ajouter une dépense</button></a>
                        </div>
                    {% endif %}
                      
                {% endif %}
                
                {% if depenses|length == 0 %}
                        <p id='zero'>Vous n'avez pas encore ajouté de dépenses</p>
                    {% else %}
                        <div id="entete">
                            <div class="colonne-date">Date</div>
                            <div class="colonne-intitule" align='center'>Intitule</div>
                            <div class="colonne-unite">Coût(Fcfa)</div>
                            <div class="colonne-quantite">Quantité</div>
                            <div class="colonne-total">Total(Fcfa)</div>
                        </div>

                        {% for depense in depenses %}
                            <div class="lignes">
                                <div class="colonne-date">{{ depense.date|date('d/m/Y') }}</div>
                                <div class="colonne-intitule">{{ depense.intitule }}</div>
                                <div class="colonne-unite">{{ depense.unite }}</div>
                                <div class="colonne-quantite">{% if depense.quantite %}{{ depense.quantite }} {% else %}--- {% endif %}</div>
                                <div class="colonne-total">{{ depense.total }}</div>
                            </div>

                            <hr class="hr-depenses">
                        {% endfor %}
                {% endif %}

            </div>

            <div id="footer"><p><i class="fa fa-copyright"></i> Tout droits réservés , Oracle Logic Consulting SARL 2022</p></div>
        </div>
    </div>

    <script src="{{ asset('js/jquery-3.6.0.min.js') }}"></script>
    <script src="{{ asset('js/details_projet.js') }}"></script>
    <script>
        $("#click-menu").click(function(){
            let visible = $("#side-menu").hasClass('visible');

            if(visible){
                $("#click-menu i").removeClass('fa-plus');
                $("#click-menu i").addClass('fa-bars');
                $("#side-menu").css('left', '-100%');
                $("#side-menu").removeClass('visible');
            }
            else{
                $("#click-menu i").removeClass('fa-bars');
                $("#click-menu i").addClass('fa-plus');
                $("#side-menu").css('left', '0');
                $("#side-menu").addClass('visible');
            }
        });
    </script>
</body>
</html>