<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{asset('css/CSS/images.css')}}">
    <link rel="stylesheet" href="{{asset('css/CSS/fontawesome/css/all.min.css')}}">
    <title>{{ projet.nom }} - Images</title>
</head>
<body>
    <div id="header">
        <div id="click-menu">
            <i class="fa fa-bars close"></i>
        </div>

        <div id="logo">
            Archi - Tech
        </div>

        <a href="/profil" style="text-decoration:none;color:white;">
            <div id="infos-profil-icons">
                <i class="fa fa-user-circle fa-2x" id="icons"></i>
                <span id="nom">({{user.prenom}} {{user.nom}})</span>
            </div>
        </a>
    </div>

    <div id="section">
        <div id="side-menu">
            {% include "sidemenu.html.twig" %}
        </div>

        <div id="content">
            <div id="titre">Images du chantier</div>

            <hr id="hr-content-titre">

            <div id="bande"></div>

            <div id="images">
                {% if user.poste != 'Client' and projet.estTermine == false %}
                    <div id="option-image-add">
                        <a href="/projets/{{projet.id}}/addimage"><button><i class="fa fa-plus"></i> Ajouter une image</button></a>
                    </div>   
                {% endif %}
                

                <hr id="hr-image">

                {% if images|length == 0 %}
                    <p id='zero'>Aucune image n'a encore été associée à ce projet</p>
                {% else %}
                <div id="album">
                    {% for image in images %}
                        <div class="bloc-image">
                            <div class="image"><img src="{{asset(image.path)}}" alt="Image du chantier" width="100%" height="100%"></div>
                            <div class="legende">
                                <div class="texte">Date : {{image.date|date('d/m/Y')}}</div>
                                
                                {% if user.poste != 'Client'  and projet.estTermine == false %}
                                    <div class="del"><a href="/projets/{{projet.id}}/images/{{image.id}}/delete"><button>Supprimer</button></a></div>
                                {% endif %}
                                
                            </div>         
                        </div>
                    {% endfor %}   
                </div>
                {% endif %} 
            </div>

            <div id="footer"><p><i class="fa fa-copyright"></i> Tout droits réservés , Oracle Logic Consulting SARL 2022</p></div>
            
        </div>
    </div>

    <script src="{{asset('js/jquery-3.6.0.min.js')}}"></script>
    <script src="{{asset('js/details_projet.js')}}"></script>
    <script>
        $("#click-menu").click(function(){
            let visible = $("#side-menu").hasClass('visible');

            if(visible){
                $("#click-menu i").removeClass('fa-plus');
                $("#click-menu i").addClass('fa-bars');
                $("#side-menu").css('left', '-100%');
                $("#side-menu").removeClass('visible');
            }
            else{
                $("#click-menu i").removeClass('fa-bars');
                $("#click-menu i").addClass('fa-plus');
                $("#side-menu").css('left', '0');
                $("#side-menu").addClass('visible');
            }
        });
    </script>
</body>
</html>