<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{asset('css/CSS/planning_gen.css')}}">
    <link rel="stylesheet" href="{{asset('css/CSS/fontawesome/css/all.min.css')}}">
    <script src="{{asset('js/jquery-3.6.0.min.js')}}"></script>
    <title>{{ projet.nom }} - Planning général</title>
</head>
<body>
    <div id="header">
        <div id="click-menu">
            <i class="fa fa-bars close"></i>
        </div>

        <div id="logo">
            Archi - Tech
        </div>

        <a href="/profil" style="text-decoration:none;color:white;">
            <div id="infos-profil-icons">
                <i class="fa fa-user-circle fa-2x" id="icons"></i>
                <span id="nom">({{user.prenom}} {{user.nom}})</span>
            </div>
        </a>
    </div>

    <div id="section">
        <div id="side-menu">
            {% include "sidemenu.html.twig" %}
        </div>

        <div id="content">
            <div id="titre">
                Gestion du planning
            </div>

            <hr id="hr-content-titre">

            <div id="bande"></div>

            <div id="planning-gen">
                {% if user.poste == 'Architecte' and projet.estTermine == false %}
                    <div id="option-planning-add">
                        <a href="/projets/{{projet.id}}/planning/addTache"><button><i class="fa fa-plus"></i> Ajouter une tâche</button></a>

                        {{ form_start(form) }}
                            {{form_row(form.planning)}}

                            <input type="submit" value="Générer">
                        {{form_end(form)}}                     
                    </div>  
 
                {% endif %}
                

                {% if taches|length == 0 %}
                    <p id='zero'>Vous n'avez pas encore ajouté de tâches</p>
                {% else %}
                    <div id="entete">
                        <div class="colonne-intitule">Intitulé</div>
                        <div class="colonne-detail">Informations</div>
                        <div class="colonne-statut">Statut</div>                        
                    </div>

                    {% for tache in taches %}
                        <div id="tache{{tache.id}}">
                            <div class="lignes">
                                <div class="colonne-intitule">{{tache.intitule}}</div>
                                <div class="colonne-detail"><button class="detail" id="detail{{tache.id}}"> <span id="texte">Détails</span> <i class="fa fa-angle-down" id="angle"></i></button></div>
                                <div class="colonne-statut">{% if tache.estRealise %}Réalisée {% else %}Non réalisée{% endif %}</div>                           
                            </div>

                            <div id="infos-tache{{tache.id}}" class="infos-tache">

                                <div class="lignes-infos">
                                    <div class="libelle">Délai prévisionnel(jours)</div>
                                    <div class="info">{{ tache.delai }}</div>
                                </div>

                                <hr class="hr-infos-tache">

                                <div class="lignes-infos">
                                    <div class="libelle">Date de début</div>
                                    <div class="info">{% if tache.debutReel %}{{tache.debutReel|date('d/m/Y')}}{% else %}---{% endif %}</div>
                                </div>

                                <hr class="hr-infos-tache">

                                <div class="lignes-infos">
                                    <div class="libelle">Date de fin</div>
                                    <div class="info">{% if tache.dateFin %}{{tache.dateFin|date('d/m/Y')}}{% else %}---{% endif %}</div>
                                </div>

                                <hr class="hr-infos-tache">

                                <div class="lignes-infos">
                                    <div class="libelle">Durée réelle(jours)</div>
                                    <div class="info">{% if tache.delaiReel %}{{tache.delaiReel}}{% else %}---{% endif %}</div>
                                </div>
                               
                            </div>

                            <script>
                                $('#infos-tache{{tache.id}}').css('display' , 'none');
                                $('#detail{{tache.id}}').click(function(){
                                    var visible = $('#infos-tache{{tache.id}}').hasClass('visible');
                                    if(visible == true)
                                    {
                                        $('#infos-tache{{tache.id}}').slideUp();
                                        $('#infos-tache{{tache.id}}').removeClass('visible');
                                    }
                                    else
                                    {
                                        $('#infos-tache{{tache.id}}').addClass('visible');
                                        $('#infos-tache{{tache.id}}').removeAttr('infos-tache');
                                        $('.infos-tache').slideUp();
                                        $('#infos-tache{{tache.id}}').slideToggle();
                                        $('#infos-tache{{tache.id}}').addClass('infos-tache');
                                    }
                                });
                            </script>
                        </div>                
                        <hr class="hr-planning">
                    {% endfor %}
                {% endif %}    
            </div>

            <div id="footer"><p><i class="fa fa-copyright"></i> Tout droits réservés , Oracle Logic Consulting SARL 2022</p></div>
        </div>
    </div>

    <script>
        $("#click-menu").click(function(){
            let visible = $("#side-menu").hasClass('visible');

            if(visible){
                $("#click-menu i").removeClass('fa-plus');
                $("#click-menu i").addClass('fa-bars');
                $("#side-menu").css('left', '-100%');
                $("#side-menu").removeClass('visible');
            }
            else{
                $("#click-menu i").removeClass('fa-bars');
                $("#click-menu i").addClass('fa-plus');
                $("#side-menu").css('left', '0');
                $("#side-menu").addClass('visible');
            }
        });
    </script>
</body>
</html>