<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{asset('css/CSS/createouv.css')}}">
    <link rel="stylesheet" href="{{asset('css/CSS/fontawesome/css/all.min.css')}}">
    <title>Ajouter un ouvrier</title>
</head>
<body>
    <div id="header">
        <div id="click-menu">
            <i class="fa fa-bars close"></i>
        </div>

        <div id="logo">
            Archi - Tech
        </div>

        <a href="/profil" style="text-decoration:none;color:white;">
            <div id="infos-profil-icons">
                <i class="fa fa-user-circle fa-2x" id="icons"></i>
                <span id="nom">({{user.prenom}} {{user.nom}})</span>
            </div>
        </a>
    </div>

    <div id="section">
        <div id="side-menu">
            {% include "sidemenu.html.twig" %}
        </div>

        <div id="content">
            <div id="titre">
                Ajouter un ouvrier
            </div>

            <hr id="hr-content-titre">

            <div id="bande"></div>

            <div id="element">
                {{ form_start(form) }}
                    <div class="champ">{{ form_row(form.nom) }}</div>

                    <div id='fonction-box'>
                        <div id="fonction-label">
                            <label for="fonction">Fonction de l'ouvrier</label>
                        </div>

                        {{ form_row(form.fonction) }}
                    </div>

                    <div id='options'>
                        <button type='submit'>Ajouter</button>
                        <button id='del'><a href="/projets/{{projet.id}}/details/presence/{{liste.id}}">Annuler</a></button>
                    </div>
                {{ form_end(form) }}
            </div>

            <div id="footer"><p><i class="fa fa-copyright"></i> Tout droits réservés , Oracle Logic Consulting SARL 2022</p></div>
            
        </div>
    </div>

    <script src="{{asset('js/jquery-3.6.0.min.js')}}"></script>
    <script src="{{asset('js/details_projet.js')}}"></script>

    <script>
        $("#click-menu").click(function(){
            let visible = $("#side-menu").hasClass('visible');

            if(visible){
                $("#click-menu i").removeClass('fa-plus');
                $("#click-menu i").addClass('fa-bars');
                $("#side-menu").css('left', '-100%');
                $("#side-menu").removeClass('visible');
            }
            else{
                $("#click-menu i").removeClass('fa-bars');
                $("#click-menu i").addClass('fa-plus');
                $("#side-menu").css('left', '0');
                $("#side-menu").addClass('visible');
            }
        });
    </script>
</body>
</html>