<h1>Cher(e) {{prenom}} {{nom}}</h1>

<p>Un compte sur la plateforme <b>Africa-Etudes</b> vient d'être crée pour vous</p>
<p>Veuillez vous y rendre afin de terminer la configuration de ce compte en fournissant votre numéros de téléphone ainsi que le mot de passe</p>
<p>Veuillez utiliser les informations suivantes</p>

<p><b>Nom :</b> {{nom}} </p>
<p><b>Prénom :</b> {{prenom}} </p>
<p><b>Email :</b> {{mail}} </p>
<p><b>Poste :</b> {{poste}} </p>

<p align='center'><button style="padding: 5px 25px ; background: #185359; color : white; font-size: 1em; border-radius: 5px ;"><a style="color : white; text-decoration: none;" href="https://africa-etudes.herokuapp.com/register">Terminer la configuration</a></button></p>